<style>
/* Light Mode */
:root[data-scheme="light"] {
    --body-background:   #EAE8E0; /* 背景色 */
    --card-background:   #FAFAF8; /* 文章卡片、側邊欄區塊 */
    --base-color:        #333; /* 主文字色 */
    --card-text-color-main:      #4B494F; /* 主標題字色 */
    --card-text-color-secondary: #747474; /* 次標題字色 */
    --card-text-color-tertiary:  #bababa; /* 更次要卡片字色 */
    --accent-color:        #333; /* 強調字色 */
    --accent-color-darker: #4E5036; /* 深一階強調字色 */
}

/* Dark Mode */
:root[data-scheme="dark"] {
    --body-background:   #636861; /* 背景色 */
    --card-background:   #737870; /* 文章卡片、側邊欄區塊 */
    --base-color:        #FAFAF8; /* 主文字色 */
    --card-text-color-main:      #FAFAF8; /* 主標題字色 */
    --card-text-color-secondary: #E3E3E1; /* 次文字色 */
    --card-text-color-tertiary:  #CECECD; /* 更次要字色 */
    --accent-color:        #F7F7F4; /* 強調字色 */
    --accent-color-darker: #ffe2a3; /* 深一階強調字色 */
}

/* 強制套用背景 */
body {
    background-color: var(--body-background) !important;
}

/* 貼文框背景 */
.article-list--tile .article-list--tile-item,
.card {
    background-color: var(--card-background) !important;
}
</style>